<div class='section'>
    <%= simple_form_for @group do |f|%>
        <div class='field form-group'>
            <div class='control' >
                  <%=f.input :name, placeholder: "Group Name", label: false, input_html: { class: 'form-style' }%>
            </div>
        </div>
        <div class='field'>
            <div class='control'>
                <%=f.input :mentor, placeholder: "Mentor Name",label: false, input_html: { class: 'form-style' }%>
            </div>
        </div>
        <div class='field'>
            <div class='control'>
                <%=f.input :description, placeholder: "Description", label: false, input_html: { class: 'form-style' } %>
            </div>
        </div>
        <%= f.button :submit, 'Create Group', class: 'btn btn-outline-dark' %>
  <%end%>
</div>
